@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;400&family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&family=Zen+Kaku+Gothic+New&display=swap');
@media (mix-width: 1200px)
{
body
{
    height: 10000px;

 
    background: linear-gradient(109.6deg, rgba(0, 0, 0, 0.93) 11.2%, rgb(63, 61, 61) 78.9%);  
    background-size: 450px 10000px;
  
}

.headg
{
    padding-left: 25px;
  justify-content:center;
}
.HeaderFle
{
    width: 360px;
}
.back
{

    right: 35px;
    position: absolute;
    margin-top: 0px;
    height: 11300px;
    width: 750px;
    top: 250px;

/* тут  цвет главной херни по середине, которая самая большая*/
}
.MainBox {
    width: 336px;
    float: right;
    margin-right:10px;
    margin-top: 60px;
}
.Name2 {
    position: absolute;
    top:-120px;
    left: -85px;
}

.Text1
{
    width: 320px;
    padding-top: 120px;
    margin-left: 20px;
    height: 1200px;
    /* если текст не влазит, можно height побольше поставить или поменьше если всё влезло*/
}
.left
{
    float:left;
    box-shadow: 5px 5px 5px 5px rgba(12, 12, 12, 0.322);
    margin-right: 20px;
}
.right
{
    float: right;
    box-shadow: 5px 5px 5px 5px rgba(12, 12, 12, 0.322);
    margin-left: 20px;
}
.Text2
{
    width: 720px;
    /* вот эту херну менять если заходит за верхний текст*/
    padding-top: 1750px;
    margin-left: 20px;
}
.Text12
{
    width: 320px;
    /* вот эту херну менять если заходит за верхний текст*/
    padding-top: 50px;
    margin-left: 50px;
}
.HeaderKnopka
{
    width: 100px;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    letter-spacing: 1px;
    font-size: 2em;
    transition: 0.35s;
    height: 50px;
}
.Logo1 {
    height: 85px;
    margin-top: 7px;
}
.HeaderKnopka:hover
{
    color:black
     /*  тут стилизуйте под группу*/
}
.Wiki
{
    margin-left: 1px;
    margin-top: 2px;
    height: 444px;
}
.Navig
{

    background-color: rgb(73, 27, 27);
    width: 336px;
    height: 360px;
    border-width: 1px;
}
.back31
{
    background-color: rgb(73, 27, 27);
    height:150px;
}
.back3
{
   background-color:  rgb(73, 27, 27);
}
 /* ТУТ ПОД ГРУППУ ТОЖЕ СТИЛИЗУЙТЕ, ЭТО КНОПКИ В НАВИГАЦИИ ПРИ НАВЕДЕНИИ МЕНЯЮТ ЦВЕТ, НУ ЧТОБЫ ЗНАЛИ*/
 .nav1
 {
     transition: 0.35s;
     width: 280px;
 }
 .nav1:hover
 {
     background-color: rgba(255, 0, 0, 0.438);
 }
 .nav2
 {
     transition: 0.35s;
     width: 200px;
 }
 .nav2:hover
 {
     background-color: rgba(255, 0, 0, 0.438);
 }
 .nav3
 {
     transition: 0.35s;
     width: 210px;
 }
 .nav3:hover
 {
     background-color: rgba(255, 0, 0, 0.438);
 }
 .nav4
 {
     transition: 0.35s;
     width: 120px;
 }
 .nav4:hover
 {
     background-color: rgba(255, 0, 0, 0.438);
 }
 .nav5
 {
     transition: 0.35s;
     width: 200px;
 }
 .nav5:hover
 {
     background-color: rgba(255, 0, 0, 0.438);
 }
 .nav6
 {
     transition: 0.35s;
     width: 150px;
 }
 .nav6:hover
 {
     background-color: rgba(255, 0, 0, 0.438);
    
 }
 .nav7
 {
     transition: 0.35s;
     width: 260px;
 }
 .nav7:hover
 {
     background-color: rgba(255, 0, 0, 0.438);
 }
 .nav8
 {
     transition: 0.35s;
     width: 190px;
     border-radius: 5%;
 }
 .nav8:hover
 {
     background-color: rgba(255, 0, 0, 0.438);
 }
}
 