body
{
    height: 4000px;
    background: linear-gradient(109.6deg, rgba(0, 0, 0, 0.93) 11.2%, rgb(63, 61, 61) 78.9%);  
    background-size: 1920px 5000px;
}
.HeaderFle
{
    width: 900px;
}
.back
{
    position: absolute;
    height: 3500px;
    width: 1200px;
    top: 250px;
    
}
.mainInfo
{
    position: relative;
    top:170px;
    right:-662px;
 
}
.Name2
{
    position: relative;
    top:84px;
    right:-64px;
}
.back2
{
    height: 450px;
    position: relative;
    top: 217px;
    right: -278px;
}

.Text1
{

    width: 666px;
    height: 900px;

}