body
{
    height: 4000px;
    background: linear-gradient(109.6deg, rgba(0, 0, 0, 0.93) 11.2%, rgb(63, 61, 61) 78.9%);  
    background-size: 1920px 5000px;
}
.HeaderFle
{
    width: 900px;
}
.back
{
    position: absolute;
    height: 3500px;
    width: 1200px;
    top: 250px;
    
}
.mainInfo
{
    position: relative;
    top:170px;
    right:-728px;
 
}
.Name2
{
    position: relative;
    top:84px;
    right:-64px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.back2
{
    height: 450px;
    position: relative;
    top: 217px;
    right: -457px;
}
.back3
{
    position: relative;
    height: 300px;
    top: 713px;
    right: -185px
}
.back4
{
    position: relative;
    top: 666px;
    right:86px;
}
.Text1
{
    position: absolute;
    width: 666px;
    height: 900px;
    top:170px;
    right: 465px;
}
