body
{
    height: 4000px;
    background: linear-gradient(109.6deg, rgba(0, 0, 0, 0.93) 11.2%, rgb(63, 61, 61) 78.9%);  
    background-size: 1920px 5000px;
}
.HeaderFle
{
    width: 900px;
}
.flex2
{
    position: absolute;
    top:160px;
    right:60px;
    width: 384px;
    height: 1200px;
}
.back
{
    position: absolute;
    height: 3500px;
    width: 1200px;
    top: 250px;
    
}
.back2
{
    height: 450px;
   
}
.back3
{

    height: 300px;
  
}
.Text1
{
    position: absolute;
    width: 666px;
    height: 900px;
    top:170px;
    right: 485px;
}
.Name2
{
    position: absolute;
    top: 70px;
    left:45px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
