@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;400&family=Oswald:wght@200..700&display=swap');
body
{
    height: 5500px;
    background: linear-gradient(109.6deg, rgba(30, 12, 94, 0.93) 44.2%, rgb(144, 84, 241) 55.8%);  
    background-size: 1920px 7000px;
}
.HeaderFle
{
    width: 900px;
}
.flex2
{
    position: absolute;
    top:160px;
    right:60px;
    width: 384px;
    height: 1200px;
}

.back
{
    position: absolute;
    height: 5000px;
    width: 1200px;
    top: 250px;
    
}
.back2
{
    height: 450px;
   
}
.back3
{

    height: 150px;
  
}

.back5 {
    height: 200px;
}
.back6 {
    height: 160px;
}
.Text1
{
    position: absolute;
    width: 666px;
    height: 900px;
    top: 200px;
    right: 455px;
}
.Text2 {
    position: absolute;
    width: 1020px;
    height: 900px;
    top: 1360px;
    right: 100px;
}
.Name4 {
        margin-top: -100px;
        margin-left: 80px;
}
.Name2
{
    position: absolute;
    top: 70px;
    left:45px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.HeaderKnopka
{
    width: 100px;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    letter-spacing: 1px;
    font-size: 2em;
}
.Logo1 {
    height: 90px;
    margin-top: 7px;
}