@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;400&family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&family=Zen+Kaku+Gothic+New&display=swap');
body
{
 
    height: 5800px;
 
    background-size: 1920px 5800px;
    background: rgb(179,214,184);
    background: linear-gradient(130deg, rgba(179,214,184,1) 0%, rgba(128,172,90,1) 54%, rgba(68,105,70,1) 86%); 
  
}
.HeaderFle
{
    width: 900px;
}
.back
{
    position: absolute;
    margin-top: 0px;
    height: 5500px;
    width: 1200px;
    top: 250px;
    background-color: rgba(51, 68, 50, 0.678);
  
/* тут  цвет главной херни по середине, которая самая большая*/
}
.MainBox {
    width: 336px;
    float: right;
    margin-right: 108px;
    margin-top: 160px;
}
.Name2 {
    position: absolute;
    top:-80px;
    left: -57px;
}
.back3
{
    background-color: #020f07;
}
.Text1
{
    width: 666px;
    padding-top: 172px;
    margin-left: 50px;
    height: 1200px;
    /* если текст не влазит, можно height побольше поставить или поменьше если всё влезло*/
}
.left
{
    float:left;
    box-shadow: 5px 5px 5px 5px rgba(12, 12, 12, 0.322);
    margin-right: 20px;
}
.right
{
    float: right;
    box-shadow: 5px 5px 5px 5px rgba(12, 12, 12, 0.322);
    margin-left: 20px;
}
.Text2
{
    width: 1020px;
    /* вот эту херну менять если заходит за верхний текст*/
    padding-top: 280px;
    margin-left: 50px;
}
.Text12
{
   
    width: 1020px;
    /* вот эту херну менять если заходит за верхний текст*/
    padding-top: 50px;
    margin-left: 50px;
}
.HeaderKnopka
{
    width: 100px;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    letter-spacing: 1px;
    font-size: 2em;
    transition: 0.35s;
    height: 50px;
}
.Logo1 {
    height: 85px;
    margin-top: 7px;
}
.HeaderKnopka:hover
{
    color:white
     /*  тут стилизуйте под группу*/
}
.Wiki
{
    margin-left: 1px;
    margin-top: 2px;
    height: 444px;
}
.Navig
{
    top: 1053px;
    right: 108px;
    width: 336px;
    height: 430px;
    background-color: #020f07;
    border-width: 1px;
}


 /* ТУТ ПОД ГРУППУ ТОЖЕ СТИЛИЗУЙТЕ, ЭТО КНОПКИ В НАВИГАЦИИ ПРИ НАВЕДЕНИИ МЕНЯЮТ ЦВЕТ, НУ ЧТОБЫ ЗНАЛИ*/
.nav1:hover
{
    background-color: rgb(186, 230, 184);
    
    color: black;
}
.nav2:hover
{
    background-color:  rgb(186, 230, 184);
    
    color: black;
}
.nav3:hover
{
    background-color:  rgb(186, 230, 184);
    color: black;
    
}
.nav4:hover
{
    background-color:  rgb(186, 230, 184);
    color: black;
  
}
.nav5:hover
{
    background-color: rgb(186, 230, 184);
    color: black;
 
}
.nav6:hover
{
    background-color:  rgb(186, 230, 184);
    color: black;
  
   
}
.nav7:hover
{
    background-color:  rgb(186, 230, 184);
    color: black;
    
}
.nav8:hover
{
    background-color:  rgb(186, 230, 184);
    color: black;

}
.nav9:hover
{
    background-color:  rgb(186, 230, 184);
    color: black;

}
.nav10:hover
{
    background-color:  rgb(186, 230, 184);
    color: black;

}

.nav1
{
    transition: 0.35s;
    width: 95px;
}
.nav2
{
    transition: 0.35s;
    width: 180px;
}
.nav3
{
    transition: 0.35s;
    width: 180px;
}
.nav4
{
    transition: 0.35s;
    width: 200px;
}
.nav5
{
    transition: 0.35s;
    width: 75px;
}
.nav6
{
    transition: 0.35s;
    width: 40px;
}
.nav7
{
    transition: 0.35s;
    width: 45px;
}
.nav8
{
    transition: 0.35s;
    width: 70px;
}
.nav9
{
    transition: 0.35s;
    width: 170px;
}
.nav10
{
    width: 80px;
    transition: 0.35s;
}
