@tailwind base;
@tailwind components;
@tailwind utilities;

body
{
    height:2560px;
}
footer
{
    position: absolute;
    top:2500px;
}
/* .FirstRow
{
 position: absolute;
 top: 240px;
}
.SecondGenre
{
    position: absolute;
    top: 820px;
}
.SecondRow
{
    position: absolute;
    top: 900px;
}

.ThridRow
{
    position: absolute;
    top: 1550px;
}
.ThirdGenre
{
    position: absolute;
    top: 1480px;
} */
.HeaderFle
{
    width: 900px;
}

.Metallica:hover .ImgBg {
    scale: 1.1;
    filter: brightness(30%);
}

.ImgBg {
    width: 225px;
    height: 400px;
    transition: all 400ms;
}

.Metallica {
    position: relative;
}

.ImgLogo {
    position: absolute; /* Позиционируем картинку поверх */
    margin: -230px 22px;
    width: 80%;
    height: 20%;
    opacity: 0; /* Исходно скрыто */
    transition: all 400ms;
}

.Metallica:hover .ImgLogo {
    scale: 1.3;
    opacity: 1; /* При наведении картинка становится видимой */
}
.genre1
{
   padding-left: 77px;
}